footer{
    background-color: #575756;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img:nth-child(1){
    width: 277px;
    height: 72px;
}

footer img:nth-child(2){
    width: 153px;
    height: 74px;
}